Source: footnote
Section: utils
Priority: extra
Maintainer: Mario Guerriero <mefrio.g@gmail.com>
Build-Depends: cmake,
               debhelper (>= 7),
               libgranite-dev,
               libgtk-3-dev (>= 3.12),
               libsqlheavy0.1-dev | libsqlheavy-dev,
               pkg-config,
               valac (>= 0.24)
Standards-Version: 3.9.4
Homepage: http://launchpad.net/footnote
Vcs-Bzr: https://code.launchpad.net/~elementary-apps/footnote/footnote

Package: footnote
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Description: Take note in elementary style

Package: footnote-dbg
Architecture: any
Section: debug
Priority: extra
Depends: footnote (= ${binary:Version}), ${misc:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Enhances: footnote
Description: Take note in elementary style (debugging symbols)
